<div>
  <div class="table__wrapper" #table>
    <div *ngFor="let person of employees;  let i=index">
      <div class="table__row" *ngIf="i<pagination">
          <div class="table__col">
              <span>
                {{person.surname}} {{person.surname2}}, {{person.name}}
              </span>
            </div>
            <div class="table__col">{{person.datebirthday | date: 'yyy-MM-dd'}}</div>
            <div class="table__col">{{person.sex.description}}</div>
            <div class="table__col">
              +({{person.phone.prefix}}) {{person.phone.number}}
            </div>
            <div class="table__col">
              {{person.country.description}}
            </div>
            <div class="table__col">
              {{person.lastModification | date: 'yyy-MM-dd H:m' }}
            </div>
      </div>

    </div>
  </div>

</div>